@import "../constants";

#teaser-content {
  /* display */
  display: flex;
  flex-direction: column;

  #page-box {
    /* size */
    margin: 1vh;

    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .panels-layer {
    /* display */
    display: block;

    #panel-content {
      /* size */
      height: 98vh;
      width: calc(98vh / 9 * 16);

      /* display */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .panel {
        /* size */
        width: 5.75%;
        height: 10.2%;
        margin: 0.25%;
        border-radius: 50%;

        /* display */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        /* font */
        color: white;
      }

      &.blue .panel {
        background-color: $blue;
      }

      &.white .panel {
        background-color: white;
      }

      &.position-a .panel {
        /* animation */
        transition-duration: 1s;
        transform: rotateY(0deg);
      }

      &.position-b .panel {
        /* animation */
        transition-duration: 1s;
        transform: rotateY(180deg);
      }

      &.stopping {
        &.position-a .panel {
          /* animation */
          transform: rotateY(0deg);
        }

        &.position-b .panel {
          /* animation */
          transform: rotateY(360deg);
        }

        .panel:nth-child(71),
        .panel:nth-child(72),
        .panel:nth-child(73),
        .panel:nth-child(74) {
          font-family: FontAwesome;
          cursor: pointer;
        }

        .panel:nth-child(71)::after {
          content: "\f04a";
        }

        .panel:nth-child(72)::after {
          content: "\f099";
        }

        .panel:nth-child(73)::after {
          content: "\f04b";
        }

        .panel:nth-child(74)::after {
          content: "\f04e";
        }
      }

      &.changing {
        &.position-b .panel:nth-child(8) {
          /* animation */
          transition-duration: 3s;
          transform: rotateY(720deg);
        }

        .panel:nth-child(8) {
          font-family: FontAwesome;
          cursor: pointer;

          &::after {
            content: "\f08e";
          }
        }
      }
    }
  }

  .overlay-box {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;

    /* mouse event */
    pointer-events: none;
  }

  .logo-layer {
    /* position */
    position: absolute;
    width: 100%;
    height: 100%;

    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    /* animation */
    font-size: 1.5em;

    .logo {
      /* font */
      font-family: 'Lobster', cursive;
    }
  }

  .menu-layer {
    /* position */
    position: absolute;
    width: 100%;
    height: 100%;

    /* display */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    /* mouse event */
    pointer-events: none;

    /* animation */
    animation: menu-animation 1s ease 0s 1 normal both;

    .menu-frame {
      /* size */
      width: 100%;
      padding: 1.5em;

      /* display */
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;

      /* color */
      background: rgba(255, 255, 255, 0.9);
    }

    nav {
      /* mouse event */
      pointer-events: auto;
    }

    ul {
      /* size */
      margin: 0;
      padding: 0;

      /* display */
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }

    li {
      list-style: none;
      margin-left: 1em;
    }

    li:first-child {
      margin-left: 0;
    }
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
